// Portfolio item 4 modal popup
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Applicazioni per smartphone
                            p.item-intro.text-muted per android e ios
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/4.jpg', alt='...')
                            p Chatbot con intelligenza artificiale | e applicazione che ti permette di prendere appunti e salvarli in locale
                            ul.list-inline
                                li
                                    strong esempi:
                                    a(href='https://mern-ai-chat-bot-coral.vercel.app/')| Chatbot con intelligenza artificiale
                                    br
                                    a(href='https://todoapp-bdyta8rdo-giorgiogtelian.vercel.app/')| Applicazione per prendere appunti
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Chiudi Progetto