// Portfolio item 1 modal popup
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Blog Dinamico
                            p.item-intro.text-muted con le ultime tecnologie
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/blog.jpg', alt='...')
                            p Il nostro progetto si focalizza sulla creazione di siti web dinamici e interattivi basati sulla piattaforma WordPress. Ogni sito è progettato con un occhio di riguardo verso l'indicizzazione e l'ottimizzazione per i motori di ricerca, assicurando una visibilità ottimale su internet.
                            ul.list-inline
                                li
                                    strong tempo di sviluppo:
                                    | 8 ore
                                li
                                    strong i blog che faccio:
                                    a(href='https://nextjs-contentlayer-blog-three.vercel.app/')| un esempio
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Chiudi Progetto