// Portfolio item 2 modal popup
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Siti su wordpress
                            p.item-intro.text-muted indicizzati e ottimizzati per i motori di ricerca
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/wordpress.jpg', alt='...')
                            p Il nostro progetto si focalizza sulla creazione di siti web dinamici e interattivi basati sulla piattaforma WordPress. Ogni sito è progettato con un occhio di riguardo verso l'indicizzazione e l'ottimizzazione per i motori di ricerca, assicurando una visibilità ottimale su internet.
                            ul.list-inline
                                li
                                    strong Clienti:
                                    br
                                    a(href='https://www.faventia-automation.com/', target='_blank')| Faventia automation - Cesena 
                                    br
                                    a(href='https://staging.annalisafalcone.it/wordpress/', target='_blank')| Annalisa Falcone - Milano
                                    br
                                    a(href='https://www.cosmobile.com/en/prodotti/', target='_blank')| Cosmobile - Forlì
                                    br
                                    a(href='https://lamialiguria.it/', target='_blank')| La mia liguria - Genova
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Chiudi Progetto